footer
{
	color : white;
	height: 60px;
	width: 100%;
	border: top 1px #CCCCC;
	position:fixed;
	bottom: 0px;
	text-align: center;
}
footer p{
	color: black;
	text-align:center;
	vertical-align:center;
}
